.main-header {
  @include vp-768 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-header__menu-button {
  display: none;

  @include vp-768 {
    display: block;
    color: #7b7b7b;
    padding: 15px;

    @include hover-focus {
      color: $color-purple;
    }
  }
}

.main-header__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: scroll;
  background-color: $color-default-white;
  width: 255px;

  @include vp-1000 {
    width: 112px;
    transition: $trans-default;

    @include hover-focus {
      width: 255px;

      .nav__text {
        opacity: 1;
        transition: none;
      }
    }
  }

  @include vp-768 {
    position: static;
    width: auto;
    height: fit-content;

    @include hover-focus {
      width: auto;
    }
  }
}

.main-header__logo-pic {
  margin: 22px 25px 30px;

  @include vp-1000 {
    width: 60px;
  }

  @include vp-768 {
    margin: 15px;
  }
}

.main-header__account {
  position: absolute;
  top: 22px;
  right: 16px;

  @include vp-768 {
    position: static;
  }
}
