.shops {
  margin-top: 57px;

  @include vp-768 {
    margin-top: 20px;
  }
}

.shops__button-new {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  background-color: $color-green;
  color: $color-default-white;
  margin-bottom: 36px;

  svg {
    margin-right: 12px;
  }

  @include hover-focus {
    background-color: $color-purple;
    color: $color-default-white;
  }
}

.shops__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #343434;
  margin-bottom: 26px;
}

.shops__table-wrapper {
  padding: 20px 31px 5px;
  background: $color-default-white;
  box-shadow: 0 11px 21px rgba(40, 40, 40, 0.07);
  max-width: 1000px;
  margin-right: 20px;
  margin-bottom: 20px;

  @include vp-1000 {
    padding: 20px 10px 5px;
    margin-right: 0;
  }
}

.shops__table {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  tr:last-child td {
    border: none;
  }

  th {
    color: #343434;
    border: none;
    padding-bottom: 10px;
  }

  td {
    color: #6e6e6e;
    padding: 19px 0;
    vertical-align: middle;

    &:first-child {
      width: 115px;
    }

    &:nth-child(2) {
      width: 225px;
    }

    &:nth-child(3) {
      width: 290px;
    }

    &:last-child {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

.shops__button-edit,
.shops__button-delete {
  display: flex;
  align-items: center;
  padding: 6px 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: $color-default-white;

  svg {
    margin-right: 15px;
    flex-shrink: 0;
  }
}

.shops__button-edit {
  background-color: $color-green;
  margin-right: 10px;
}

.shops__button-delete {
  background-color: #b1b1b1;
}
